.spinner {
    margin-top: -30px;
    margin-left: -30px;
    display: none;
    width:70px;
    height: 70px;
    background: url('/static/images/spinner.gif') no-repeat;
    /*background: url('/static/images/upsort.png') no-repeat;*/
}

.spinner, .filter_form_class{
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 50%;
}

::-ms-clear {
    display: none;
}

#tableblock{
    border:1px solid #101010;
    margin: 0 auto;
    overflow:auto;
    max-height: 700px;
    margin-top:50px;
    background-color: #f0f0f0;
    width: 90%;
    box-shadow: 0.2em 0.2em 11px;
}


#tableblock input{
    border: 1px solid #424f95;
    border-radius: 5px;
}

#tableblock td{
    padding: 3px 5px;
}

.pagecountblock{
    display: block;
    margin: 0 auto;
    width: 210px;

}

.pagecountselect{
}

.filter_form_class{
    display: block;
    border: 1px solid #101010;
    width:350px;
    height:auto;
    margin-top: -170px;
    margin-left: -150px;
    background-color: #ffffff;
}

.filter_form_class li{
    list-style-type: none;
}
.filter_datablock{
    display: block;
    overflow: auto;
    height:300px;
    border:1px solid #424f95;
}

.even{
    /*background: linear-gradient(rgba(90,87,153,0.6), rgba(30,87,153,0));*/
    background-color: rgba(90,87,153,0.2);
    /*opacity: 0.5;*/
}

#pagination_block{
    padding: 15px 0px;
}

.toolspanelblockstyle{
    border: 1px solid #101010;
    overflow: auto;
    max-height: 700px;
    margin: 50px auto 0;
    width: 90%;
    box-shadow: 0.2em 0.2em 11px;
}